body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
}

div {
    page-break-before: always;
}

p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.center {
    text-align: center;
}

.polish_indent {
    text-align: justify;
    text-indent: 1.5em
}

.king_letter {
    margin-left: 2em;
    margin-right: 2em;
}

.superscript{
    font-size: x-small;
    vertical-align: top;
}

.large {
    font-size: 1.29167em;
    line-height: 1.2;
}
